* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #222831;
  --secondary: #393e46;
  --tertiary: #00adb5;
  --accent: #eeeeee;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans;
  background: var(--primary);
}

body {
  -ms-overflow-style: none;
  --sb-size: 0px;
  scrollbar-width: none;
}

/* todo: remove scrollbar for firefox*/

.messageContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.chatWindow {
  display: flex;
  gap: 10px;
  height: 60vh;
  width: 80vw;
  border: 1px solid black;
  border-radius: 7px;
  max-width: 1080px;
  background: var(--secondary);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
}
.mainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
}

input {
  padding: 5px 10px;
  flex: 1;
  border: 1px solid #000030;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border: 1px solid transparent;
}
button {
  padding: 5px 10px;
  background: var(--accent);
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 10px var(--primary);
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  width: 100%;
  gap: 10px;
}

.messageContainer {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message {
  padding: 5px 10px;
  background: var(--tertiary);
  box-shadow: 1px 1px 1px var(--primary);
  border: 1px solid var(--primary);
  border-radius: 5px;
  width: fit-content;
  max-width: 300px;
  margin-bottom: 10px;
  margin: 0px 20px 15px;
}
.sent {
  margin-left: auto;
  background: var(--accent);
}
.received {
  margin-right: auto;
}

.sideBar {
  width: 200px;
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid var(--tertiary);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sideBarButton {
  display: flex;
  align-items: center;
  border: 1px solid var(--tertiary);
  box-shadow: 1px 1px 2px var(--tertiary);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.25s ease all;
}
.sideBarButton:hover {
  box-shadow: none;
}
.sideBarButton > img {
  filter: invert(1);
}

.flex-row {
  display: flex;
}

.model {
  display: flex;
  width: 100%;
}
.model > input {
  width: 100%;
}
